:root {
  --wechat-white: #fff;
  --wechat-grey: #e0dee3;
  --wechat-background: #f3f3f3;
  --wechat-active: #dedede;
  --text-color: #161616;
  --text-light-color: #a8a8a8;
  --wechat-border-color: #e2e2e2;
  --wechat-icon-color: #6a686d;
  --wechat-icon-active-color: #53bf6a;
  --wechat-message-bg: #aae879;
  --wechat-notice-color: #e85b52;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.container {
  width: 1112px;
  height: 784px;
  background-color: #fff;
  display: flex;
}
.sidebar {
  width: 320px;
  height: 784px;
  display: flex;
  background-color: var(--wechat-white);

  .left-nav {
    background-color: var(--wechat-grey);
    width: 60px;
    height: 784px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .window-icon {
      display: flex;
      gap: 4px;
      margin-top: 8px;

      .circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;

        &.red {
          background-color: #ff605c;
        }
        &.yellow {
          background-color: #ffbd44;
        }
        &.green {
          background-color: #00ca4e;
        }
      }
    }

    .nav-item {
      position: relative;
      margin-bottom: 19px;
      cursor: pointer;

      img.icon {
        width: 26px;
        height: 26px
      }

      .badge {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 16px;
        height: 16px;
        font-size: 12px;
        color: var(--wechat-white);
        background-color: var(--wechat-notice-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      
      &.avatar img {
        margin-top: 48px;
        width: 36px;
        height: 36px;
        border-radius: 4px;
      }
    }

    .foot-container {
      margin-top: 100px;

      .nav-item {
        margin-bottom: 24px;
      }
    }
  }

  .list-panel {
    flex-direction: column;
    flex: 1;
    height: 784px;
  }

  .chat-list-panel {
    background-color: var(--wechat-white);
    display: none;

    .chat-header {
      position: relative;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-icon-container {
        position: absolute;
        width: 12px;
        left: 24px;
        top: 22px;
      }

      .search-input {
        width: 196px;
        height: 28px;
        border-radius: 4px;
        border: none;
        font-size: 12px;
        padding: 0 12px 0 28px;
        background-color: var(--wechat-grey);
      }

      .add-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        background-color: var(--wechat-grey);
        margin-left: 10px;
      }
    }

    .chat-list {
      height: 722px;
      overflow-y: auto;

      .chat-item {
        width: 100%;
        height: 68px;
        display: flex;
        padding: 0 24px;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }

        &.active {
          background-color: var(--wechat-active);
          border-right: 4px solid var(--wechat-icon-active-color);
        }

        .chat-item-logo {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            border-radius: 4px;
          }
        }

        .chat-item-info {
          flex: 1;
          height: 68px;
          display: flex;
          flex-direction: column;
          padding-left: 12px;

          .chat-item-header {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;

            .chat-item-name {
              font-size: 14px;
              font-weight: 500;
            }

            .chat-item-time {
              font-size: 12px;
              color: var(--text-light-color)
            }
          }

          .chat-item-content {
            margin-top: 4px;
            font-size: 12px;
            color: var(--text-light-color);
          }
        }
      }
    }
  }

  .user-list-panel {
    background-color: var(--wechat-white);
    display: none;
    padding: 48px 0 48px 0;
    overflow-y: auto;

    .user-list {
      display: flex;
      flex-direction: column;

      .user-item {
        display: flex;
        align-items: center;
        padding: 0 24px;
        height: 60px;
        cursor: pointer;

        &.active {
          background-color: var(--wechat-active);
          border-right: 4px solid var(--wechat-icon-active-color);
        }

        .user-item-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 4px;
        }

        .user-item-name {
          margin-left: 12px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

main {
  position: relative;
  flex: 1;
}

main > .page {
  width: 100%;
  height: 784px;
  background-color: var(--wechat-background);
  border-left: 1px solid var(--wechat-border-color-color);
  flex-direction: column;

  &.chat-main-panel {
    display: none;
  }

  &.user-main-panel {
    display: none;
    padding: 24px;
    align-items: center;

    .empty-user {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .user-main-panel-header {
      width: 400px;
      display: flex;
      margin-bottom: 24px;

      .user-main-panel-header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 4px;
      }

      .user-main-panel-header-info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .user-main-panel-header-username {
          font-size: 16px;
          font-weight: 500;
        }

        .user-main-panel-header-fullname {
          font-size: 12px;
          color: var(--text-light-color);
        }

        .user-main-panel-header-phone {
          font-size: 12px;
          color: var(--text-light-color);
        }
      }
    }

    .user-main-panel-line {
      width: 400px;
      height: 1px;
      background: var(--wechat-border-color);
      margin-bottom: 16px;
    }

    .user-main-panel-actions {
      width: 400px;
      display: flex;
      justify-content: space-around;

      .action-bar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        font-size: 12px;

        img {
          margin-bottom: 8px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  header {
    display: flex;
    align-items: center;
    height: 62px;
    border-bottom: 1px solid var(--wechat-border-color);
    padding: 0 24px;

    .chat-title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow: auto;

    .message-container {
      margin-top: 48px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .empty-message {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .message-time {
        font-size: 12px;
        text-align: center;
        color: var(--text-light-color);
        margin-bottom: 20px;
      }

      .message-item {
        display: flex;
        margin: 12px 0;

        &.mine {
          flex-direction: row-reverse;

          .message-avatar {
            margin-left: 20px;
            margin-right: 0;
          }
        }

        .message-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 4px;
          margin-right: 20px;
        }

        .message {
          position: relative;
          font-size: 14px;
          width: auto;
          max-width: 400px;
          background-color: var(--wechat-message-bg);
          border-radius: 4px;
          padding: 10px 8px;

          .triangle-right {
            position: absolute;
            top: 10px;
            right: -6px;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-left: 6px solid var(--wechat-message-bg);
            border-bottom: 4px solid transparent;
          }

          .triangle-left {
            position: absolute;
            top: 10px;
            left: -6px;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-right: 6px solid var(--wechat-message-bg);
            border-bottom: 4px solid transparent;
          }
        }
      }
    }
  }

  .chat-container {
    height: 320px;
    border-top: 1px solid var(--wechat-border-color);

    .action-bar {
      display: flex;
      height: 60px;
      align-items: center;
      padding: 0 16px;
      gap: 16px;
    }

    textarea.chat-input {
      background-color: var(--wechat-background);
      height: 260px;
      width: 100%;
      border: none;
      padding: 0 20px;
    }

    .chat-input:focus {
      outline: none;
    }
  }
}